* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: sans-serif;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}

#card{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    background: linear-gradient(to bottom, #0d98ba 0%, #0d98ba 25%, white 25%, white 100%);
    border: 2px solid darkgrey;
    margin: auto;
    width: 850px;
    margin-top: 60px;
    position: relative;
    padding-left:40px;
    padding-bottom: 10px;
    height:400px;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}


.circle{
    filter: invert(100%);
    -webkit-filter:invert(100%);
    position: absolute;
    top: 45px;
    border: 2px solid darkgrey;
    border-radius: 50%;
    padding: 4px;
    background-color: white;
    height: 110px;
    width: 110px;
}

.gear{
    height:20px;
    width:20px;
}

#edit{
    display: flex;
    margin-top: 20px;
    margin-bottom:15px;
}

a{
    display: flex;
    align-self:center;
    margin-left: 10px;
    color: cornflowerblue;
    font-size: 20px;
}

h2{
    display:flex;
    margin: 0px 0px 20px 0px;
}

.s{
    font-size:20px;
    margin-left: 15px;
}

.map{
    height:20px;
    width: 15px;
}

#master{
    margin-bottom:10px;
}

.specs{
    font-size:20px;
}