* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family:monospace;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}
.nav{
    background-color: grey;
    padding: 20px 420px 20px 420px;
    display: flex;
    color: white;
    background-color: black;
    gap: 30px;
    justify-content: space-around;
}
#profile{
    font-size: 40px;
}
.nav ul{
    color: #36454f;
    font-size:25px;
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav a{
    color:#36454f ;
    text-decoration: none;
}
.nav .myp{
    color: white;
}
button{
    background-color: #003153;
    color:white ;
    font-size:20px;
    padding: 0px 15px;
}
.subcontainer{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.usercard{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #0d98ba 0%, #0d98ba 25%, white 25%, white 100%);
    border: 3px solid darkgray;
    border-radius: 1%;
    padding:20px 110px 50px 40px;
    gap: 30px;
}
.maincontent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.jane{
    margin-right: 40px;
}
#userimg{
    padding-top: 40px;
    font-size: 45px;
}
#userimg > img{
    height: 140px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
}
.usercard img{
    height: 30px;
}
.s{
    display: flex;
    font-size: 35px;
    align-items: center;
    gap: 20px;
}
.info{
    font-size: 25px;
}
.edit{
    display: flex;
    align-items: center;
    color: #4169e1;
    gap: 20px;
}
a.editpro{
    color: #4169e1;
    font-size: 20px;
}
.col1{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#educon{
    background-color: white;
    border: 3px solid grey;
    border-radius: 1%;
}
h3{
    padding: 20px 0px 20px 30px;
    background-color: #343434;
    color: white;
    font-size: 20px;
}
.educontent{
    padding:20px 0px 20px 30px;
}
.all{
    font-size: 25px;
}
#cd{
    font-size: 30px;
}
#sml{
    font-size: 22px;
    color: dimgray;
}
.col2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#conreq{
    background-color: white;
    border: 3px solid grey;
    border-radius: 1%;
}
.connection{
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 10px;
    background-color:#343434 ;
    font-size: 20px;
    color: white;
    gap:10px;
}
.two{
    padding: 4px 4px 7px 5px;
    border-radius: 50%;
    border: 1px solid #343434;
    height: 40px;
    width: 40px;
    background-color: dimgray;
}
.requests{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    padding: 20px 15px 40px 15px ;
    gap: 30px;
}
.reqname{
    display: flex;
    align-items: center;
    gap: 10px;
}
.userp{
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 25px;
}
.col2 img{
    border: 2px solid black ;
    border-radius: 50%;
    height: 40px;
}
.accdec{
    display: flex;
    gap: 10px;
    align-items: center;
    border: 0px;
    cursor: pointer;
}
.accdec img{
    border:0px;
}
#yourcon{
    border: 1px solid grey;
    border-radius: 1%;
}
.yourconnections{
    display: flex;
    align-items: center;
    background-color: #343434;
    border: 2px solid grey;
    border-radius: 1%;
    padding: 15px;
}
#yc{
    font-size: 17px;
    color: white;
    margin-left: 15px;
}
#five{
    padding: 5px;
    font-size:20px;
    background-color: lightgrey;
    border-radius: 60%;
}
.ppl{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    font-size: 20px;
    padding: 15px;
}
.appl{
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    gap: 15px;
}
.viewmore{
    border: 2px solid grey;
    padding: 15px;
    font-size: 20px;
    color: #0d98ba;
}
.viewmore > a {
    color: #4169e1;
}
