

.formElement{
    width: 250px;
}

#submitButton{
    color: white;
    background-color: green;
}

.formButtons{
    padding: 15px;
    /*padding-left: 20px;
    padding-right: 5px;
    padding-top: 30px;
    padding: 10px 30px;
    padding: 10px 20px 30px 40px;*/
    margin: 40px;
}
.info{
    display: block;
    border: 1px solid black;
    padding: 10px;
    /*boder-color: black;
    boder-style: solid;
    boder-width: 1px;*/
}

h1{
    border: 1px solid black;
    padding: 10px;
}
/*target the immediate <li> elements inside a <ul> */
ul > li {
    border: 1px solid rgb(58, 10, 152);
}

/*Target all <li> elements regardless of the level of hierachy */
ul li{
    padding: 10px;
}

.formElement[type="text"]{
    height: 50px;
}
ul.secondary{
    color: red;
}

li{
    display: inline-block;
    /*color: D3; */
    color:  rgb(58, 10, 152);
}

#about{
    color:green;
}

/* #id > .class > element */