
h1{
    padding-left: 25px;
    font-size: 60px;
    font-family: Arial;
    color:white;
    background-color:black;

}

h1+h2{
    margin-top: -30px;
}
h2+h3{
    margin-top: -15px;
}

h2{
    color: white;
    background-color:rgba(83, 7, 142, 0.773);
    text-align: center;
    padding:10px;
    font-size:xx-large;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
}


h3{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 500;
    padding: 12px;
    background-color: lightblue;
    text-decoration: underline;
    text-align: right;
}