*{
    padding: 0px;
    margin: 0px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

button{
    font-size: 25px;
    background-color: rgb(4, 105, 139);
    color: white;
    padding: 5px;
}
